<ion-view title="{{product.name}}">
  <ion-content has-header="true" ng-show="product">

    <div class="card" ng-repeat="coverage in product.coverages">
      <div class="item item-divider">
        {{coverage.name}}
      </div>
      <div class="item item-text-wrap">
        {{coverage.desc}}
      </div>

      <div class="item item-toggle">
        Select this one
        <label class="toggle toggle-possitive">
          <input type="checkbox" ng-disabled="coverage.mandatory" ng-model="coverage.selected">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-input item-select" ng-show="coverage.selected && coverage.limit">
        <div class="input-label">
          Limit
        </div>
        <select ng-model="coverage.limit.value" 
          ng-options="limitValue as limitValue | currency:'$':0 for limitValue in coverage.limit.values"></select>
      </div>

    </div>

    <div class="padding">
      <a ng-click="selectCoverages()" class="button button-block button-positive">Next</a>
    </div>

  </ion-content>
</ion-view>
