<ion-view title="{{form.product.name}}">
  <ion-content has-header="true">
    <form class="form-horizontal" role="form">
      <ion-list>
        <div ng-repeat="group in coverages.groups.coverages">
          <div class="card">
            <div class="item item-divider">
              {{group.name}}
            </div>
            <div class="item item-text-wrap">
              {{group.desc}}
            </div>
            <div class="item">
              <label class="item item-select">
                <select ng-if="showLimit(group)" style="padding-top: 5px;" ng-change="limitChanged(group)" ng-options="g as ('Limit:' + g) for g in group.limit.values" ng-model="group.limitValue">
                  <option value="">ignore this one</option>
                </select>
                <select ng-if="!showLimit(group)" style="padding-top: 5px;" ng-model="group.hasSelected">
                  <option value="">ignore this one</option>                  
                  <option value="true">select this one</option> 
                </select>
              </label>
            </div>
          </div>
        </div>
      </ion-list>
      <div class="padding">
        <a ng-click="next()" class="footer button button-block button-positive">
          Next
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>
