<ion-view title="Search Result">
  <ion-content>
    <div class="list card" ng-show="userProfile">
      <div class="item item-avatar">
        <img ng-src="img/{{userProfile.avatar}}">
        <h2>{{userProfile.name}}</h2>
        <p><strong>33</strong> years old</p>
        <p>Lives in <strong>Shanghai</strong></p>
      </div>
      <div class="item item-body">
        <p>
          He is a <strong>software enginneer</strong>,
          and has <strong>3</strong> years driving experience.
          He mainly drives in <strong>Shanghai</strong> and drives about <strong>20</strong> KM every day.
          During the past year, he broke traffic rules for <strong>1</strong> time(s).
        </p>
      </div>
    </div>
    <div class="list card" ng-show="userNotFound">
      <div class="item item-body text-center">
        <strong>User Not Found</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
