<ion-view title="Summary">
<ion-content>

  <div class="card">
    <div class="item item-divider">
      Policy Information
    </div>
    <div class="item profile-item">
      <label>Insured Person</label>
      <span>Allen Zheng</span>
    </div>
    <div class="item profile-item">
      <label>Vehicle Purchase Price</label>
      <span><strong>30,000</strong> <i class="icon ion-social-usd"></i></span>
    </div>
    <div class="item profile-item">
      <label>Effective Date</label>
      <span>2015-01-01</span>
    </div>
    <div class="item profile-item">
      <label>Expiry Date</label>
      <span>2015-12-31</span>
    </div>
  </div>

  <div class="card">
    <div class="item item-divider">
      Product: Basic Private Motor Car
    </div>
    <div class="item item-text-wrap">
      <p>This auto product is designed for private car owners with basic insurance expectations.</p>
    </div>
    <div class="item profile-item">
      <label>Third Party Liability</label>
      <span><strong>200</strong> <i class="icon ion-social-usd"></i></span>
    </div>
    <div class="item profile-item">
      <label>Own Auto Damage</label>
      <span><strong>150</strong> <i class="icon ion-social-usd"></i></span>
    </div>
    <div class="item profile-item">
      <label>Theft</label>
      <span><strong>100</strong> <i class="icon ion-social-usd"></i></span>
    </div>
    <div class="item profile-item">
      <label>Personal Accident to Driver</label>
      <span><strong>50</strong> <i class="icon ion-social-usd"></i></span>
    </div>
    <div class="item profile-item">
      <label><strong>TOTAL</strong></label>
      <span><strong>500</strong> <i class="icon ion-social-usd"></i></span>
    </div>
  </div>

  <div class="padding">
    <button class="button button-block button-positive">
      Proceed to checkout
    </button>
  </div>

</ion-content>
</ion-view>
