<ion-view title="Summary">
<ion-content>

<div class="card" ng-show="calcResult && !calcResult.passUnderwriting">
  <div class="item item-divider">
    Underwriting Failure
  </div>
  <div class="item item-text-wrap">
    <p>You are not allowed to buy this product with the following reasons:</p>
    <p class="uw-alert" ng-repeat="msg in calcResult.failureMessages">
      <i class="icon ion-alert-circled"></i> {{msg}}
    </p>
  </div>
</div>

<div class="card" ng-show="user">
  <div class="item item-divider">
    Policy Information
  </div>
  <div class="item profile-item">
    <label>Insured Person</label>
    <span>{{user.name}}</span>
  </div>
  <div class="item profile-item">
    <label>Driving Experience</label>
    <span><strong>{{user.drivingExperience}} years</strong></span>
  </div>
  <div class="item profile-item">
    <label>Vehicle Plate Number</label>
    <span>{{user.licensePlates}}</span>
  </div>
  <div class="item profile-item">
    <label>Vehicle Purchase Price</label>
    <span>{{user.carPurchasePrice | currency:"$":0}}</span>
  </div>
  <div class="item profile-item">
    <label>Vehicle Age</label>
    <span><strong>{{user.ageOfCar}} years</strong></span>
  </div>
  <div class="item profile-item">
    <label>Effective Date</label>
    <span>2015-01-01</span>
  </div>
  <div class="item profile-item">
    <label>Expiry Date</label>
    <span>2015-12-31</span>
  </div>
</div>

<div class="card" ng-show="user">
  <div class="item item-divider">
    Coverages 
  </div>

  <div class="item profile-item" ng-repeat="coverage in form.product.coverages | filter: {selected: true}">
    <label>{{coverage.name}}</label>
    <span ng-show="coverage.limit">{{coverage.limit.value | currency:"$":0}}</span>
  </div>
</div>

<div class="card" ng-show="calcResult.passUnderwriting">
  <div class="item item-divider">
    Quotation Result
  </div>
  <div class="item profile-item">
      <label>Tax</label>
      <span>{{calcResult.tax | currency:"$":2}}</span>
  </div>
  <div class="item profile-item">
      <label>Discount</label>
      <span>{{calcResult.discount | currency:"$":2}}</span>
  </div>
  <div class="item profile-item">
      <label>Commission</label>
      <span>{{calcResult.commission | currency:"$":2}}</span>
  </div>
  <div class="item profile-item">
      <label>Total</label>
      <span>{{calcResult.sgp | currency:"$":2 }}</span>
  </div>
</div>

<div class="padding" ng-show="calcResult.passUnderwriting">
  <button class="button button-block button-positive">
    Proceed to checkout
  </button>
</div>

</ion-content>
</ion-view>
