<ion-view title="Summary">
<ion-content>

<div class="card" ng-show="calcResult && !calcResult.passUnderwriting">
  <div class="item item-divider">
    Underwriting Failure
  </div>
  <div class="item item-text-wrap">
    <p>You are not allowed to buy this product with the following reasons:</p>
    <p class="uw-alert"><i class="icon ion-alert-circled"></i> Insured person's age should be less than 60</p>
    <p class="uw-alert"><i class="icon ion-alert-circled"></i> Age of vehicle should be less than 10 years</p>
  </div>
</div>

<div class="card" ng-show="user">
  <div class="item item-divider">
    Policy Information
  </div>
  <div class="item profile-item">
    <label>Insured Person</label>
    <span>{{user.name}}</span>
  </div>
  <div class="item profile-item">
    <label>Car Plate Number</label>
    <span>{{user.licensePlates}}</span>
  </div>
  <div class="item profile-item">
    <label>Vehicle Purchase Price</label>
    <span>{{user.carPurchasePrice | currency:"$":0}}</span>
  </div>
  <div class="item profile-item">
    <label>Effective Date</label>
    <span>2015-01-01</span>
  </div>
  <div class="item profile-item">
    <label>Expiry Date</label>
    <span>2015-12-31</span>
  </div>
</div>

<div class="card" ng-show="user">
  <div class="item item-divider">
    Coverages of {{form.product.name}} 
  </div>

  <div class="item profile-item" ng-repeat="coverage in form.product.coverages | filter: {selected: true}">
    <label>{{coverage.name}}</label>
    <span ng-show="coverage.limit">{{coverage.limit.value | currency:"$":0}}</span>
  </div>
</div>

<div class="card" ng-show="calcResult">
  <div class="item item-divider">
    Quotation Result
  </div>

  <div class="item profile-item">
    <div class="row row-center">

      <div class="col text-center">
        <p>Total</p>
        <p class="currency">{{calcResult.sgp | currency:"$":2 }}</p>
      </div>

      <div class="col text-center">
        <p>Tax</p>
        <p class="currency">{{calcResult.tax | currency:"$":2}}</p>
      </div>

      <div class="col text-center">
        <p>Discount</p>
        <p class="currency">{{calcResult.discount | currency:"$":2}}</p>
      </div>

      <div class="col text-center">
        <p>Commission</p>
        <p class="currency">{{calcResult.commission | currency:"$":2}}</p>
      </div>

    </div>
  </div>
</div>

<div class="padding" ng-show="calcResult">
  <button class="button button-block button-positive">
    Proceed to checkout
  </button>
</div>

</ion-content>
</ion-view>
