<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ebaotech.iagent" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>iagent</name>
  <description>
    Agent app for quick quotation
  </description>
  <author email="allen.zheng@ebaotech.com" href="http://ebaotech.com/">
    SP2.0 Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
