/* Empty. Add your own CSS if you like */

.profile-item label {
}

.profile-item span {
  float: right;
}

.profile-item .row, .profile-item .col{
  padding: 0px;
}

p.limit {
  font-size: 80%;
  font-style: italic;
}

p.uw-alert {
  color: red;
}

#name {
  font-weight: bold
}

#occupation, #location {
  font-size: 12px;
}

#avatar {
  border-radius: 5px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

